@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansTTFMedium';
  font-style: normal;
  font-weight:400;
  src: url('../../public/fonts/GmarketSansTTFMedium.ttf') format("ttf");
}

@font-face {
  font-family: 'GmarketSansTTFLight';
  font-style: normal;
  font-weight:400;
  src: url('../../public/fonts/GmarketSansTTFLight.ttf') format("ttf");
}

@font-face {
  font-family: 'SUITE';
  font-weight: 400;
  src: url('../../public/fonts/SUITE-Variable.ttf') format("ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body {
  font-family: 'GmarketSansTTFMedium';
}

h1 {
  font-family: 'GmarketSansTTFLight';
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.header_right_btn {
  @apply
  inline-flex items-center px-3 py-1
   /* mt-4 */
   text-white transition duration-100 ease-out transform bg-purple-500 border-0 cursor-pointer hover:shadow-lg active:scale-95 rounded-xl focus:outline-none hover:bg-purple-300 hover:text-purple-700 hover:md:mt-0
}

.detail_map_btn {
  @apply
  inline-flex items-center px-3 py-1
   /* mt-4 */
   text-black transition duration-100 ease-out transform bg-gray-300 border-0 cursor-pointer hover:shadow-lg active:scale-95 rounded-xl focus:outline-none hover:bg-gray-500 hover:text-gray-300 hover:md:mt-0
   
}

.detail_text {
  font-size: 12px;
}

.pagination-number {
  margin-right: 10px;
}

.modal_border {
  width: 500px;
  height: 200px;
  margin-left: 30px;
  border-color: #333436;
}

.page-number {
  margin-right: 10px; /* 페이지 번호 사이의 간격을 조정합니다 */
  color: black; /* 일반 페이지 번호의 색상을 설정합니다 */
  cursor: pointer;
}

.page-number.active {
  color: rgb(254, 212, 0); /* 선택된 페이지 번호의 색상을 설정합니다 */
}

.map-container {
  height: 400px; /* 지도의 높이를 조정합니다 */
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.kinder-block {
  @apply flex flex-col rounded-3xl
  border-2 border-yellow-500
  hover:shadow-2xl hover:bg-yellow-100
  cursor-pointer
}



